ws_lab_05/client/Service References/TCPMSU/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ws_lab_05" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ws_lab_05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="MSU">
    <xs:sequence>
      <xs:element minOccurs="0" name="f" type="xs:float" />
      <xs:element minOccurs="0" name="k" type="xs:int" />
      <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSU" nillable="true" type="tns:MSU" />
</xs:schema>